<%- include('partials/header') -%>

<main class="container">
    
    <div class="card large ">
      <div class="card-image">
        <img src="/imgs/car.jpg" >
        
      </div>
      <div class="card-content">
        <span class="card-title center">Tired of looking for parking?</span>
        <div class="row center">
            <a href="/login" class="col-3 push-s5 btn btn-primary  hoverable"> Login</a>
            <a href="/signup" class="col-3 push-s5 btn btn-primary hoverable"> Signup</a>
        </div>
      </div>
      
    </div>



</main>
    

<%- include('partials/footer') -%>